html
  head
    title= title
    link(href="/style.css", rel="stylesheet")
  body
    h1 Rinspresso Prototype
    p things may not work XDXDD
    h2 Things to do here
    ul
      li Main Page
      ul
        li Link to the main Video Page
        li Link to the main Users Page
        li Link to another yet to be determined page
      li Video Page
      ul
        li List of videos
        ul
          li With video info
          li with user info
          ul
            li with link to User Page
      li User Page
      ul
        li Info on users
    block content